<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  </head>
  <body>
      <h1><%= @title %></h1>
      <% @entries.each do |entry| %>
        <h2><%= entry.title %></h2>
        <p><%= entry.summary %></p>
      <% end %>
  </body>
</html>
