<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <style type="text/css">
      body {
        font-weight: 300;
        font-family: 'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;
        font-size: 16px;
        color: #565656;
        line-height: 1.5em;
      }

      h1 {
        font-weight: 300;
        font-family: 'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;
        color: #333333;
        margin-bottom: 1.2em;
      }

      h2 {
        font-weight: 300;
        font-family: 'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;
        color: #333333;
      }

      a {
        color: #6633cc;
        text-decoration: none;
      }

      footer {
        text-align: center;
        margin-top: 4em;
        font-family: Helvetica,Arial,sans-serif;
        clear: both;
      }

      footer small {
        margin-top: 2em;
      }

      hr {
        border: 0;
        height: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      }
    </style>
  </head>
  <body>
      <h1><%= @title %></h1>
      <% @entries.each do |entry| %>
        <h2><%= link_to entry_title(entry), entry.url, target: '_blank' %></h2>
        <%= content_tag :p, entry_extract(entry) unless blank_entry?(entry) %>
        <hr>
      <% end %>
      <footer>
        <small>This digest is provided by <%= link_to 'armagnac.io', 'http://www.armagnac.io' %>.</small>
      </footer>
  </body>
</html>
